
.confirmButton{
    -fx-background-image: url("../graphics/button1.png");
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-font-family: "Hey Comic";
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-font-size: 12.0;
}

.quitButton{
    -fx-background-image: url("../graphics/button2.png");
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-font-family: "Hey Comic";
    -fx-text-fill: WHITE
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
